-- RLS Policy Fix for Properties Table
ALTER TABLE properties ENABLE ROW LEVEL SECURITY;

-- Allow hosts to update their own properties
CREATE OR REPLACE POLICY 'hosts_can_update_own_properties' 
ON properties FOR UPDATE 
TO authenticated 
USING (auth.uid() = host_id);

-- Allow hosts to view their own properties  
CREATE OR REPLACE POLICY 'hosts_can_view_own_properties'
ON properties FOR SELECT
TO authenticated
USING (auth.uid() = host_id);

-- Allow hosts to insert new properties
CREATE OR REPLACE POLICY 'hosts_can_insert_properties'
ON properties FOR INSERT
TO authenticated
WITH CHECK (auth.uid() = host_id);
